body {
	background-image: linear-gradient(to right bottom, #051937, #003b5e, #00607c, #00868d, #07ac8f);
}
* {
	Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
	padding: 0%;
	margin: 0%;
	font-size: 100%;
}


.titleText {
	text-align: center;
	color: white;
}
#header {
	width: 100%;
	padding: 1rem 0rem 1rem 0rem;
	background-color: black;
}
button {
	background-color: #390071;
	border-radius: 5px;
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: bolder;
	border:  none;
	padding: 0.4rem 1.2rem 0.4rem 1.2rem;
	transition: 0.5s;
}
button:hover {
	transform: scale(1.1);
}